In [28]:
import pandas as pd
import numpy as np

data = {
    "订单号": ["A001", "A002", "A003", "A003", "A004", None],
    "客户": ["张三", "李四", None, None, "王五", "赵六"],
    "金额": [100, None, 300, 300, 500, 200],
    "国家": ["中国", "美国", "中国", "中国", None, "日本"]
}

df = pd.DataFrame(data) #使用字典创建数据帧，键为列，默认索引为整数
print(f"创建新的数据帧是：\n{df}")
#df_clean1=df.dropna(subset=["金额"])  #删除特定列为空的行
#print(f"删除金额为空的行————————————————————-新的数据帧是：\n{df_clean1}")

#df_clean2=df.dropna(subset=["订单号"])  #删除特定列为空的行
#print(f"删除订单号为空的行————————————————————-新的数据帧是：\n{df_clean2}")
#df_clean3=df.drop_duplicates(subset=["订单号"]) #按列去重，保留第一个
#print(f"删除重复订单————————————————————新的数据帧是：\n{df_clean3}")
#df_clean4=df.drop_duplicates(subset=["订单号"],keep="last") #保留最后一个重复项
#print(f"删除重复订单————————————————————新的数据帧是：\n{df_clean4}")

print("---------------df_fill---未知客户填充以后-------------------")
df['客户']=df['客户'].fillna("未知客户")
print(df)
print("---------------df_fill---金额空值填充以后-------------------")
df['金额']=df['金额'].fillna(df['金额'].mean())
print(df)
print("---------------df_fill---国家空值填充以后-------------------")
df['国家'] = df['国家'].fillna(method="ffill")
print(df)
print("---------------df_fill---剩余空值填充以后-------------------")
df_fill=df.fillna("缺失")
print(df_fill)

创建新的数据帧是：
    订单号    客户     金额    国家
0  A001    张三  100.0    中国
1  A002    李四    NaN    美国
2  A003  None  300.0    中国
3  A003  None  300.0    中国
4  A004    王五  500.0  None
5  None    赵六  200.0    日本
---------------df_fill---未知客户填充以后-------------------
    订单号    客户     金额    国家
0  A001    张三  100.0    中国
1  A002    李四    NaN    美国
2  A003  未知客户  300.0    中国
3  A003  未知客户  300.0    中国
4  A004    王五  500.0  None
5  None    赵六  200.0    日本
---------------df_fill---金额空值填充以后-------------------
    订单号    客户     金额    国家
0  A001    张三  100.0    中国
1  A002    李四  280.0    美国
2  A003  未知客户  300.0    中国
3  A003  未知客户  300.0    中国
4  A004    王五  500.0  None
5  None    赵六  200.0    日本
---------------df_fill---国家空值填充以后-------------------
    订单号    客户     金额  国家
0  A001    张三  100.0  中国
1  A002    李四  280.0  美国
2  A003  未知客户  300.0  中国
3  A003  未知客户  300.0  中国
4  A004    王五  500.0  中国
5  None    赵六  200.0  日本
---------------df_fill---空值填充以后-------------------
    订单号    客户     金额  国家
0  A001    张三  100.0  中国
1  A002    李四  280.0  美国
2  A003  未知客户  300.0  中国
3  A003  未知客户  300.0  中国
4  A004    王五  500.0  中国
5    缺失    赵六  200.0  日本

C:\Users\Riley\AppData\Local\Temp\ipykernel_9568\2209122746.py:30: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['国家'] = df['国家'].fillna(method="ffill")

In [17]:
import pandas as pd
import numpy as np

df=pd.read_csv("Titanic Dataset.csv")
df1=df.head(20)
print(df1)
print(df1.isnull().sum())
df_clean1=df1.dropna()  #删除特定列为空的行
print(f"删除空的行————————————————————新的数据帧是：\n{df_clean1}")

df_clean2=df.drop_duplicates(subset=["Sex"])  #删除特定列为空的行
print(f"去除Sex重复的行——————————————————新的数据帧是：\n{df_clean2}")

    PassengerId  Survived  Pclass  \
0           892         0       3
1           893         1       3
2           894         0       2
3           895         0       3
4           896         1       3
5           897         0       3
6           898         1       3
7           899         0       2
8           900         1       3
9           901         0       3
10          902         0       3
11          903         0       1
12          904         1       1
13          905         0       2
14          906         1       1
15          907         1       2
16          908         0       2
17          909         0       3
18          910         1       3
19          911         1       3

                                                 Name     Sex   Age  SibSp  \
0                                    Kelly, Mr. James    male  34.5      0
1                    Wilkes, Mrs. James (Ellen Needs)  female  47.0      1
2                           Myles, Mr. Thomas Francis    male  62.0      0
3                                    Wirz, Mr. Albert    male  27.0      0
4        Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1
5                          Svensson, Mr. Johan Cervin    male  14.0      0
6                                Connolly, Miss. Kate  female  30.0      0
7                        Caldwell, Mr. Albert Francis    male  26.0      1
8           Abrahim, Mrs. Joseph (Sophie Halaut Easu)  female  18.0      0
9                             Davies, Mr. John Samuel    male  21.0      2
10                                   Ilieff, Mr. Ylio    male   NaN      0
11                         Jones, Mr. Charles Cresson    male  46.0      0
12      Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.0      1
13                               Howard, Mr. Benjamin    male  63.0      1
14  Chaffee, Mrs. Herbert Fuller (Carrie Constance...  female  47.0      1
15      del Carlo, Mrs. Sebastiano (Argenia Genovesi)  female  24.0      1
16                                  Keane, Mr. Daniel    male  35.0      0
17                                  Assaf, Mr. Gerios    male  21.0      0
18                       Ilmakangas, Miss. Ida Livija  female  27.0      1
19              Assaf Khalil, Mrs. Mariana (Miriam")"  female  45.0      0

    Parch            Ticket     Fare Cabin Embarked
0       0            330911   7.8292   NaN        Q
1       0            363272   7.0000   NaN        S
2       0            240276   9.6875   NaN        Q
3       0            315154   8.6625   NaN        S
4       1           3101298  12.2875   NaN        S
5       0              7538   9.2250   NaN        S
6       0            330972   7.6292   NaN        Q
7       1            248738  29.0000   NaN        S
8       0              2657   7.2292   NaN        C
9       0         A/4 48871  24.1500   NaN        S
10      0            349220   7.8958   NaN        S
11      0               694  26.0000   NaN        S
12      0             21228  82.2667   B45        S
13      0             24065  26.0000   NaN        S
14      0       W.E.P. 5734  61.1750   E31        S
15      0     SC/PARIS 2167  27.7208   NaN        C
16      0            233734  12.3500   NaN        Q
17      0              2692   7.2250   NaN        C
18      0  STON/O2. 3101270   7.9250   NaN        S
19      0              2696   7.2250   NaN        C
PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age             1
SibSp           0
Parch           0
Ticket          0
Fare            0
Cabin          18
Embarked        0
dtype: int64
删除空的行————————————————————新的数据帧是：
    PassengerId  Survived  Pclass  \
12          904         1       1
14          906         1       1

                                                 Name     Sex   Age  SibSp  \
12      Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.0      1
14  Chaffee, Mrs. Herbert Fuller (Carrie Constance...  female  47.0      1

    Parch       Ticket     Fare Cabin Embarked
12      0        21228  82.2667   B45        S
14      0  W.E.P. 5734  61.1750   E31        S
去除Sex重复的行——————————————————新的数据帧是：
   PassengerId  Survived  Pclass                              Name     Sex  \
0          892         0       3                  Kelly, Mr. James    male
1          893         1       3  Wilkes, Mrs. James (Ellen Needs)  female

    Age  SibSp  Parch  Ticket    Fare Cabin Embarked
0  34.5      0      0  330911  7.8292   NaN        Q
1  47.0      1      0  363272  7.0000   NaN        S