In [1]:
import os
print(os.getcwd())

C:\Users\Administrator\JupyterNotebook

In [3]:
import pandas as pd
from pandasql import sqldf

# 1. 加载 CSV 文件到 DataFrame
df = pd.read_csv('onlineretail.csv')

# 2. 定义一个快捷函数，方便后续运行 SQL
# globals() 使得 sqldf 能够识别当前 Notebook 中的 DataFrame 变量名 (如 df)
pysqldf = lambda q: sqldf(q, globals())
q1 = """
SELECT  InvoiceNo, StockCode, Quantity, Country
FROM df
WHERE Quantity=6;
"""
result1 = pysqldf(q1)
print(result1)
q2 = """
SELECT InvoiceNo, StockCode, Quantity, Country
FROM df
WHERE Quantity > 10
  AND Country = 'United Kingdom';
"""
result2 = pysqldf(q2)
print("\n--- 练习一结果 (Quantity > 10 AND Country='United Kingdom') ---")
print(result2.head())

      InvoiceNo StockCode  Quantity         Country
0        536365    85123A         6  United Kingdom
1        536365     71053         6  United Kingdom
2        536365    84029G         6  United Kingdom
3        536365    84029E         6  United Kingdom
4        536365     21730         6  United Kingdom
...         ...       ...       ...             ...
40863    581579     22083         6  United Kingdom
40864    581581     23562         6  United Kingdom
40865    581581     23561         6  United Kingdom
40866    581582     23552         6  United Kingdom
40867    581587     22899         6          France

[40868 rows x 4 columns]

--- 练习一结果 (Quantity > 10 AND Country='United Kingdom') ---
  InvoiceNo StockCode  Quantity         Country
0    536367     84879        32  United Kingdom
1    536371     22086        80  United Kingdom
2    536374     21258        32  United Kingdom
3    536376     22114        48  United Kingdom
4    536376     21733        64  United Kingdom

In [6]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\riley\anaconda3\lib\site-packages (from pandasql) (2.1.3)
Requirement already satisfied: pandas in c:\users\riley\anaconda3\lib\site-packages (from pandasql) (2.2.3)
Requirement already satisfied: sqlalchemy in c:\users\riley\anaconda3\lib\site-packages (from pandasql) (2.0.39)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\riley\anaconda3\lib\site-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\riley\anaconda3\lib\site-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\riley\anaconda3\lib\site-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\riley\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\riley\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\riley\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (4.12.2)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26799 sha256=fe2809d2aa1a10b0e92c083393e21a50d942d80a3ca0c6bdf18b5448409e8780
  Stored in directory: c:\users\riley\appdata\local\pip\cache\wheels\b4\d0\8c\a6b366870bf041849cd96e03b71641e082f8d6456269b603b7
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

  DEPRECATION: Building 'pandasql' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'pandasql'. Discussion can be found at https://github.com/pypa/pip/issues/6334

In [1]:
import pandas as pd
from pandasql import sqldf

# 1. 加载 CSV 文件到 DataFrame
df = pd.read_csv('onlineretail.csv')

# 2. 定义一个快捷函数，方便后续运行 SQL
# globals() 使得 sqldf 能够识别当前 Notebook 中的 DataFrame 变量名 (如 df)
pysqldf = lambda q: sqldf(q, globals())
q1 = """
SELECT  *
FROM df;
"""
result1 = pysqldf(q1)
print(f"编写 SQL 语句，选出表中所有产品的所有列信息{result1}")
q2 = """
SELECT Description,UnitPrice
FROM df;
"""
result2 = pysqldf(q2)
print(f"编写 SQL 语句，选出表中Description,UnitPrice列信息\n{result2}")
q3 = """
SELECT DISTINCT Country 
FROM df;
"""
result3 = pysqldf(q3)
print(f"编写 SQL 语句，选出表中不重复的国家-列信息\n{result3}")
q4= """
SELECT * 
FROM df
WHERE Quantity>50;
"""
result4 = pysqldf(q4)
print(f"编写 SQL 语句，选出所有购买数量 Quantity 大于 50 的交易记录的所有信息\n{result4}")
q5= """
SELECT * 
FROM df
WHERE Country='France' AND UnitPrice<5 ;
"""
result5 = pysqldf(q5)
print(f"编写 SQL 语句，选出所有 Country 为 'France' 并且 UnitPrice 小于 5 的交易记录\n{result5}")

q6= """
SELECT * 
FROM df
WHERE Country!='United Kingdom' AND Quantity=1 ;
"""
result6 = pysqldf(q6)
print(f"编写 SQL 语句，选出所有 Country 不是 'United Kingdom' 并且 Quantity 等于 1 的交易记录\n{result6}")
q7= """
SELECT * 
FROM df
WHERE Country IN ('Germany','Norway' , 'Sweden') ;
"""
result7 = pysqldf(q7)
print(f"编写 SQL 语句，选出所有 Country 是 'Germany'、'Norway' 或 'Sweden' 的交易记录。请使用 IN 操作符\n{result7}")

编写 SQL 语句，选出表中所有产品的所有列信息       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        2010/12/1 8:26       2.55     17850.0  United Kingdom
1        2010/12/1 8:26       3.39     17850.0  United Kingdom
2        2010/12/1 8:26       2.75     17850.0  United Kingdom
3        2010/12/1 8:26       3.39     17850.0  United Kingdom
4        2010/12/1 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  2011/12/9 12:50       0.85     12680.0          France
541905  2011/12/9 12:50       2.10     12680.0          France
541906  2011/12/9 12:50       4.15     12680.0          France
541907  2011/12/9 12:50       4.15     12680.0          France
541908  2011/12/9 12:50       4.95     12680.0          France

[541909 rows x 8 columns]
编写 SQL 语句，选出表中Description,UnitPrice列信息
                                Description  UnitPrice
0        WHITE HANGING HEART T-LIGHT HOLDER       2.55
1                       WHITE METAL LANTERN       3.39
2            CREAM CUPID HEARTS COAT HANGER       2.75
3       KNITTED UNION FLAG HOT WATER BOTTLE       3.39
4            RED WOOLLY HOTTIE WHITE HEART.       3.39
...                                     ...        ...
541904          PACK OF 20 SPACEBOY NAPKINS       0.85
541905         CHILDREN'S APRON DOLLY GIRL        2.10
541906        CHILDRENS CUTLERY DOLLY GIRL        4.15
541907      CHILDRENS CUTLERY CIRCUS PARADE       4.15
541908        BAKING SET 9 PIECE RETROSPOT        4.95

[541909 rows x 2 columns]
编写 SQL 语句，选出表中不重复的国家-列信息
                 Country
0         United Kingdom
1                 France
2              Australia
3            Netherlands
4                Germany
5                 Norway
6                   EIRE
7            Switzerland
8                  Spain
9                 Poland
10              Portugal
11                 Italy
12               Belgium
13             Lithuania
14                 Japan
15               Iceland
16       Channel Islands
17               Denmark
18                Cyprus
19                Sweden
20               Austria
21                Israel
22               Finland
23               Bahrain
24                Greece
25             Hong Kong
26             Singapore
27               Lebanon
28  United Arab Emirates
29          Saudi Arabia
30        Czech Republic
31                Canada
32           Unspecified
33                Brazil
34                   USA
35    European Community
36                 Malta
37                   RSA
编写 SQL 语句，选出所有购买数量 Quantity 大于 50 的交易记录的所有信息
      InvoiceNo StockCode                         Description  Quantity  \
0        536371     22086     PAPER CHAIN KIT 50'S CHRISTMAS         80
1        536376     21733    RED HANGING HEART T-LIGHT HOLDER        64
2        536378     21212     PACK OF 72 RETROSPOT CAKE CASES       120
3        536378    85071B  RED CHARLIE+LOLA PERSONAL DOORSIGN        96
4        536386    85099C      JUMBO  BAG BAROQUE BLACK WHITE       100
...         ...       ...                                 ...       ...
12313    581566     23404          HOME SWEET HOME BLACKBOARD       144
12314    581567     21417                   COCKLE SHELL DISH        84
12315    581567     21326    AGED GLASS SILVER T-LIGHT HOLDER       144
12316    581571     23167      SMALL CERAMIC TOP STORAGE JAR         96
12317    581584     20832    RED FLOCK LOVE HEART PHOTO FRAME        72

           InvoiceDate  UnitPrice  CustomerID         Country
0       2010/12/1 9:00       2.55     13748.0  United Kingdom
1       2010/12/1 9:32       2.55     15291.0  United Kingdom
2       2010/12/1 9:37       0.42     14688.0  United Kingdom
3       2010/12/1 9:37       0.38     14688.0  United Kingdom
4       2010/12/1 9:57       1.65     16029.0  United Kingdom
...                ...        ...         ...             ...
12313  2011/12/9 11:50       3.26     18102.0  United Kingdom
12314  2011/12/9 11:56       0.79     16626.0  United Kingdom
12315  2011/12/9 11:56       0.55     16626.0  United Kingdom
12316  2011/12/9 12:00       0.69     15311.0  United Kingdom
12317  2011/12/9 12:25       0.72     13777.0  United Kingdom

[12318 rows x 8 columns]
编写 SQL 语句，选出所有 Country 为 'France' 并且 UnitPrice 小于 5 的交易记录
     InvoiceNo StockCode                      Description  Quantity  \
0       536370     22728        ALARM CLOCK BAKELIKE PINK        24
1       536370     22727        ALARM CLOCK BAKELIKE RED         24
2       536370     22726       ALARM CLOCK BAKELIKE GREEN        12
3       536370     21724  PANDA AND BUNNIES STICKER SHEET        12
4       536370     21883                 STARS GIFT TAPE         24
...        ...       ...                              ...       ...
7362    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
7363    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
7364    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
7365    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
7366    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID Country
0      2010/12/1 8:45       3.75     12583.0  France
1      2010/12/1 8:45       3.75     12583.0  France
2      2010/12/1 8:45       3.75     12583.0  France
3      2010/12/1 8:45       0.85     12583.0  France
4      2010/12/1 8:45       0.65     12583.0  France
...               ...        ...         ...     ...
7362  2011/12/9 12:50       0.85     12680.0  France
7363  2011/12/9 12:50       2.10     12680.0  France
7364  2011/12/9 12:50       4.15     12680.0  France
7365  2011/12/9 12:50       4.15     12680.0  France
7366  2011/12/9 12:50       4.95     12680.0  France

[7367 rows x 8 columns]
编写 SQL 语句，选出所有 Country 不是 'United Kingdom' 并且 Quantity 等于 1 的交易记录
     InvoiceNo StockCode                     Description  Quantity  \
0       536403      POST                         POSTAGE         1
1       536527      POST                         POSTAGE         1
2       536540        C2                        CARRIAGE         1
3       536840     22776     SWEETHEART CAKESTAND 3 TIER         1
4       536840      POST                         POSTAGE         1
...        ...       ...                             ...       ...
2060    581193     23247      BISCUIT TIN 50'S CHRISTMAS         1
2061    581266     22487  WHITE WOOD GARDEN PLANT LADDER         1
2062    581266     21628      TRIANGULAR POUFFE VINTAGE          1
2063    581493      POST                         POSTAGE         1
2064    581570      POST                         POSTAGE         1

          InvoiceDate  UnitPrice  CustomerID      Country
0     2010/12/1 11:27      15.00     12791.0  Netherlands
1     2010/12/1 13:04      18.00     12662.0      Germany
2     2010/12/1 14:05      50.00     14911.0         EIRE
3     2010/12/2 18:27       9.95     12738.0      Germany
4     2010/12/2 18:27      18.00     12738.0      Germany
...               ...        ...         ...          ...
2060  2011/12/7 17:05       2.89     17097.0        Spain
2061  2011/12/8 11:25       9.95     12621.0      Germany
2062  2011/12/8 11:25      14.95     12621.0      Germany
2063  2011/12/9 10:10      15.00     12423.0      Belgium
2064  2011/12/9 11:59      18.00     12662.0      Germany

[2065 rows x 8 columns]
编写 SQL 语句，选出所有 Country 是 'Germany'、'Norway' 或 'Sweden' 的交易记录。请使用 IN 操作符
      InvoiceNo StockCode                          Description  Quantity  \
0        536527     22809              SET OF 6 T-LIGHTS SANTA         6
1        536527     84347  ROTATING SILVER ANGELS T-LIGHT HLDR         6
2        536527     84945   MULTI COLOUR SILVER T-LIGHT HOLDER        12
3        536527     22242        5 HOOK HANGER MAGIC TOADSTOOL        12
4        536527     22244           3 HOOK HANGER MAGIC GARDEN        12
...         ...       ...                                  ...       ...
11038    581578     22993         SET OF 4 PANTRY JELLY MOULDS        12
11039    581578     22907     PACK OF 20 NAPKINS PANTRY DESIGN        12
11040    581578     22908        PACK OF 20 NAPKINS RED APPLES        12
11041    581578     23215     JINGLE BELL HEART ANTIQUE SILVER        12
11042    581578     22736          RIBBON REEL MAKING SNOWMEN         10

           InvoiceDate  UnitPrice  CustomerID  Country
0      2010/12/1 13:04       2.95     12662.0  Germany
1      2010/12/1 13:04       2.55     12662.0  Germany
2      2010/12/1 13:04       0.85     12662.0  Germany
3      2010/12/1 13:04       1.65     12662.0  Germany
4      2010/12/1 13:04       1.95     12662.0  Germany
...                ...        ...         ...      ...
11038  2011/12/9 12:16       1.25     12713.0  Germany
11039  2011/12/9 12:16       0.85     12713.0  Germany
11040  2011/12/9 12:16       0.85     12713.0  Germany
11041  2011/12/9 12:16       2.08     12713.0  Germany
11042  2011/12/9 12:16       1.65     12713.0  Germany

[11043 rows x 8 columns]

NameError: name 'pysqldf123' is not defined

In [13]:
import os
print(os.getcwd())

C:\Users\Administrator\JupyterNotebook

In [1]:
def add(a,b):
    return a+b
print(add(289,80))

369

In [2]:
def pysqlf123(q):
    return sqldf(q, globals())
q1 = """
SELECT  *
FROM df;
"""
result1 = pysqlf123(q1)
print(f"编写 SQL 语句，选出表中所有产品的所有列信息{result1}")

编写 SQL 语句，选出表中所有产品的所有列信息       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        2010/12/1 8:26       2.55     17850.0  United Kingdom
1        2010/12/1 8:26       3.39     17850.0  United Kingdom
2        2010/12/1 8:26       2.75     17850.0  United Kingdom
3        2010/12/1 8:26       3.39     17850.0  United Kingdom
4        2010/12/1 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  2011/12/9 12:50       0.85     12680.0          France
541905  2011/12/9 12:50       2.10     12680.0          France
541906  2011/12/9 12:50       4.15     12680.0          France
541907  2011/12/9 12:50       4.15     12680.0          France
541908  2011/12/9 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

In [ ]:
print(globals())